* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
}
body .container {
  max-width: 1200px;
  margin: auto;
  box-sizing: border-box;
}

.main-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 44px 0 25px 0;
}
.main-navbar .main-navbar__logo {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #244D4D;
}
.main-navbar .main-navbar__links a {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #161616;
  text-decoration: none;
  padding-right: 50px;
}
.main-navbar .main-navbar__links button {
  display: none;
}
.main-navbar .main-navbar__btns button {
  background: none;
  border: none;
}
.main-navbar .main-navbar__btns button:last-child {
  padding-left: 30px;
}

.intro {
  padding-bottom: 120px;
}
.intro .intro-bg {
  display: flex;
  justify-content: space-between;
  background: #154444;
}
.intro .intro-bg .intro-bg__block {
  max-width: 671px;
  align-items: center;
}
.intro .intro-bg .intro-bg__block .intro-block__title {
  font-family: "Montserrat";
  padding-top: 101px;
  font-weight: 700;
  font-size: 56px;
  line-height: 68px;
  color: #FFFFFF;
  padding-bottom: 20px;
}
.intro .intro-bg .intro-bg__block .intro-block__subtitle {
  font-weight: 400;
  max-width: 488px;
  font-size: 20px;
  line-height: 25px;
  color: #FFFFFF;
  padding-bottom: 35px;
}
.intro .intro-bg .intro-bg__block .intro-block__btn {
  padding: 15px 25px;
  font-size: 20px;
  line-height: 25px;
  color: #154444;
}

.brands {
  text-align: center;
  padding-bottom: 120px;
}
.brands .brands-text__item {
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  color: #244D4D;
  padding-bottom: 48px;
}
.brands .brands-companies {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}
.about .about-block {
  max-width: 436px;
}
.about .about-block .about-block__text {
  padding-bottom: 40px;
}
.about .about-block .about-block__text .about-text__title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #244D4D;
}
.about .about-block .about-block__text .about-text__subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #444444;
}
.about .about-block .about-block__quality {
  display: flex;
  flex-direction: row;
}
.about .about-block .about-block__quality .about-quality__imgs {
  display: flex;
  flex-direction: column;
  padding-right: 30px;
}
.about .about-block .about-block__quality .about-quality__imgs img {
  padding-bottom: 74px;
}
.about .about-block .about-block__quality .about-list {
  list-style: none;
}
.about .about-block .about-block__quality .quality-title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #244D4D;
  padding-bottom: 16px;
}
.about .about-block .about-block__quality .quality-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  max-width: 306px;
  color: #383738;
  padding-bottom: 30px;
}

.popular {
  padding-bottom: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.popular .popular-btns {
  padding-top: 120px;
}
.popular .popular-btns .popular-btns__item {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: #F4F6F6;
  border: none;
  cursor: pointer;
}
.popular .popular-text {
  max-width: 820px;
}
.popular .popular-text .popular-text__title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 32px;
  line-height: 52px;
  color: #242424;
}
.popular .popular-text .popular-text__subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #383738;
}

.catalog {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.catalog .catalog-block1 {
  box-shadow: 0px 13px 26px rgba(0, 0, 0, 0.07);
  margin-bottom: 130px;
}
.catalog .catalog-block1 .catalog-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.catalog .catalog-block1 .catalog-text .catalog-btns {
  padding: 0 0 26px 0;
}
.catalog .catalog-block1 .catalog-text .catalog-btns .catalog-btns__buy {
  margin-right: 25px;
}
.catalog .catalog-block1 .catalog-text .catalog-btns .catalog-btns__buy .catalog-buy__item {
  cursor: pointer;
  width: 78px;
  height: 32px;
  color: white;
  font-weight: 500;
  background: #244D4D;
  border: none;
}
.catalog .catalog-block1 .catalog-text .catalog-btns .catalog-btns__share {
  padding: 20px 0 20px 0;
}
.catalog .catalog-block1 .catalog-text .catalog-btns .catalog-btns__share .like:hover {
  background: #EF5423;
}
.catalog .catalog-block1 .catalog-text .catalog-btns .catalog-btns__share .catalog-share__btn {
  cursor: pointer;
  width: 26px;
  height: 26px;
  border-radius: 12px;
  border: none;
  align-items: center;
}
.catalog .catalog-block1 .catalog-text .catalog-btns .catalog-btns__share .catalog-share__btn:first-child {
  margin: 0 2px 0 20px;
}
.catalog .catalog-block1 .catalog-text .catalog-price {
  padding: 0 0 27px 24px;
}
.catalog .catalog-block1 .catalog-text .catalog-price .catalog-price__name {
  color: #242424;
  font-weight: 500;
  font-size: 20px;
}
.catalog .catalog-block1 .catalog-text .catalog-price .catalog-price__dollar {
  color: #154444;
  font-size: 24px;
  font-weight: 500;
}
.catalog .catalog-block2 {
  box-shadow: 0px 13px 26px rgba(0, 0, 0, 0.07);
  margin-bottom: 130px;
}
.catalog .catalog-block2 .catalog-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.catalog .catalog-block2 .catalog-text .catalog-btns {
  padding: 0 0 26px 0;
}
.catalog .catalog-block2 .catalog-text .catalog-btns .catalog-btns__buy {
  margin-right: 25px;
}
.catalog .catalog-block2 .catalog-text .catalog-btns .catalog-btns__buy .catalog-buy__item {
  cursor: pointer;
  width: 78px;
  height: 32px;
  color: white;
  font-weight: 500;
  background: #244D4D;
  border: none;
}
.catalog .catalog-block2 .catalog-text .catalog-btns .catalog-btns__share {
  padding: 20px 0 20px 0;
}
.catalog .catalog-block2 .catalog-text .catalog-btns .catalog-btns__share .like:hover {
  background: #EF5423;
}
.catalog .catalog-block2 .catalog-text .catalog-btns .catalog-btns__share .catalog-share__btn {
  cursor: pointer;
  width: 26px;
  height: 26px;
  border-radius: 12px;
  border: none;
  align-items: center;
}
.catalog .catalog-block2 .catalog-text .catalog-btns .catalog-btns__share .catalog-share__btn:first-child {
  margin: 0 2px 0 20px;
}
.catalog .catalog-block2 .catalog-text .catalog-price {
  padding: 0 0 27px 24px;
}
.catalog .catalog-block2 .catalog-text .catalog-price .catalog-price__name {
  color: #242424;
  font-weight: 500;
  font-size: 20px;
}
.catalog .catalog-block2 .catalog-text .catalog-price .catalog-price__dollar {
  color: #154444;
  font-size: 24px;
  font-weight: 500;
}
.catalog .catalog-block3 {
  box-shadow: 0px 13px 26px rgba(0, 0, 0, 0.07);
  margin-bottom: 130px;
}
.catalog .catalog-block3 .catalog-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.catalog .catalog-block3 .catalog-text .catalog-btns {
  padding: 0 0 26px 0;
}
.catalog .catalog-block3 .catalog-text .catalog-btns .catalog-btns__buy {
  margin-right: 25px;
}
.catalog .catalog-block3 .catalog-text .catalog-btns .catalog-btns__buy .catalog-buy__item {
  cursor: pointer;
  width: 78px;
  height: 32px;
  color: white;
  font-weight: 500;
  background: #244D4D;
  border: none;
}
.catalog .catalog-block3 .catalog-text .catalog-btns .catalog-btns__share {
  padding: 20px 0 20px 0;
}
.catalog .catalog-block3 .catalog-text .catalog-btns .catalog-btns__share .like:hover {
  background: #EF5423;
}
.catalog .catalog-block3 .catalog-text .catalog-btns .catalog-btns__share .catalog-share__btn {
  cursor: pointer;
  width: 26px;
  height: 26px;
  border-radius: 12px;
  border: none;
  align-items: center;
}
.catalog .catalog-block3 .catalog-text .catalog-btns .catalog-btns__share .catalog-share__btn:first-child {
  margin: 0 2px 0 20px;
}
.catalog .catalog-block3 .catalog-text .catalog-price {
  padding: 0 0 27px 24px;
}
.catalog .catalog-block3 .catalog-text .catalog-price .catalog-price__name {
  color: #242424;
  font-weight: 500;
  font-size: 20px;
}
.catalog .catalog-block3 .catalog-text .catalog-price .catalog-price__dollar {
  color: #154444;
  font-size: 24px;
  font-weight: 500;
}

.furniture {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 89px;
}
.furniture .furniture-title h2 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 32px;
  color: #242424;
}
.furniture .furniture-subtitle {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.furniture .furniture-subtitle .furniture-subtitle__room {
  margin-right: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.furniture .furniture-subtitle .furniture-subtitle__room a {
  text-decoration: none;
  color: #919090;
  font-weight: 400;
  font-size: 24px;
}
.furniture .furniture-subtitle .furniture-subtitle__room a:hover {
  font-weight: 500;
  font-size: 24px;
  color: #154444;
  background-image: url(/img/poloska.png);
  background-repeat: no-repeat;
  background-position: center bottom;
}
.furniture .furniture-subtitle .furniture-subtitle__category {
  margin-right: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.furniture .furniture-subtitle .furniture-subtitle__category a {
  text-decoration: none;
  color: #919090;
  font-weight: 400;
  font-size: 24px;
}
.furniture .furniture-subtitle .furniture-subtitle__category a:hover {
  font-weight: 500;
  font-size: 24px;
  color: #154444;
  background-image: url(/img/poloska.png);
  background-repeat: no-repeat;
  background-position: center bottom;
}
.furniture .furniture-subtitle .furniture-subtitle__style {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.furniture .furniture-subtitle .furniture-subtitle__style a {
  text-decoration: none;
  color: #919090;
  font-weight: 400;
  font-size: 24px;
}
.furniture .furniture-subtitle .furniture-subtitle__style a:hover {
  font-weight: 500;
  font-size: 24px;
  color: #154444;
  background-image: url(/img/poloska.png);
  background-repeat: no-repeat;
  background-position: center bottom;
}

.furniture-bottom {
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
}
.furniture-bottom .furniture-selects {
  display: grid;
  grid-template-columns: 252px 252px;
  margin-top: 20px;
  align-items: center;
  text-align: center;
  padding: 0 0 0 0;
}
.furniture-bottom .furniture-selects .furniture-livroom {
  border: 1.5px solid #D9DCE5;
  margin: 0 0 20px 30px;
  padding-top: 12px;
}
.furniture-bottom .furniture-selects .furniture-livroom img {
  padding-bottom: 10px;
}
.furniture-bottom .furniture-selects .furniture-livroom p {
  padding-bottom: 20px;
}
.furniture-bottom .furniture-selects .furniture-livroom p a {
  text-decoration: none;
  font-weight: 500;
  color: #808080;
  padding: 60px;
}
.furniture-bottom .furniture-selects .furniture-livroom p a:hover {
  color: white;
}
.furniture-bottom .furniture-selects .furniture-livroom:hover {
  background-color: #154444;
}
.furniture-bottom .furniture-selects .furniture-kitchen {
  border: 1.5px solid #D9DCE5;
  padding-top: 12px;
  margin: 0 0 20px 30px;
}
.furniture-bottom .furniture-selects .furniture-kitchen img {
  padding-bottom: 10px;
}
.furniture-bottom .furniture-selects .furniture-kitchen p {
  padding-bottom: 20px;
}
.furniture-bottom .furniture-selects .furniture-kitchen p a {
  text-decoration: none;
  font-weight: 500;
  color: #808080;
  padding: 60px;
}
.furniture-bottom .furniture-selects .furniture-kitchen p a:hover {
  color: white;
}
.furniture-bottom .furniture-selects .furniture-kitchen:hover {
  background-color: #154444;
}
.furniture-bottom .furniture-selects .furniture-dinroom {
  border: 1.5px solid #D9DCE5;
  padding-top: 12px;
  margin: 0 0 20px 30px;
}
.furniture-bottom .furniture-selects .furniture-dinroom img {
  padding-bottom: 10px;
}
.furniture-bottom .furniture-selects .furniture-dinroom p {
  padding-bottom: 20px;
}
.furniture-bottom .furniture-selects .furniture-dinroom p a {
  text-decoration: none;
  font-weight: 500;
  color: #808080;
  padding: 60px;
}
.furniture-bottom .furniture-selects .furniture-dinroom p a:hover {
  color: white;
}
.furniture-bottom .furniture-selects .furniture-dinroom:hover {
  background-color: #154444;
}
.furniture-bottom .furniture-selects .furniture-office {
  border: 1.5px solid #D9DCE5;
  padding-top: 12px;
  margin: 0 0 20px 30px;
}
.furniture-bottom .furniture-selects .furniture-office img {
  padding-bottom: 10px;
}
.furniture-bottom .furniture-selects .furniture-office p {
  padding-bottom: 20px;
}
.furniture-bottom .furniture-selects .furniture-office p a {
  text-decoration: none;
  font-weight: 500;
  color: #808080;
  padding: 60px;
}
.furniture-bottom .furniture-selects .furniture-office p a:hover {
  color: white;
}
.furniture-bottom .furniture-selects .furniture-office:hover {
  background-color: #154444;
}
.furniture-bottom .furniture-selects .furniture-bedroom {
  border: 1.5px solid #D9DCE5;
  padding-top: 12px;
  margin-left: 30px;
}
.furniture-bottom .furniture-selects .furniture-bedroom img {
  padding-bottom: 10px;
}
.furniture-bottom .furniture-selects .furniture-bedroom p {
  padding-bottom: 20px;
}
.furniture-bottom .furniture-selects .furniture-bedroom p a {
  text-decoration: none;
  font-weight: 500;
  color: #808080;
  padding: 60px;
}
.furniture-bottom .furniture-selects .furniture-bedroom p a:hover {
  color: white;
}
.furniture-bottom .furniture-selects .furniture-bedroom:hover {
  background-color: #154444;
}
.furniture-bottom .furniture-selects .furniture-hallway {
  border: 1.5px solid #D9DCE5;
  padding-top: 12px;
  margin-left: 30px;
}
.furniture-bottom .furniture-selects .furniture-hallway img {
  padding-bottom: 10px;
}
.furniture-bottom .furniture-selects .furniture-hallway p {
  padding-bottom: 20px;
}
.furniture-bottom .furniture-selects .furniture-hallway p a {
  text-decoration: none;
  font-weight: 500;
  color: #808080;
  padding: 60px;
}
.furniture-bottom .furniture-selects .furniture-hallway p a:hover {
  color: white;
}
.furniture-bottom .furniture-selects .furniture-hallway:hover {
  background-color: #154444;
}

.review {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.review .review-text {
  max-width: 535px;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}
.review .review-text .review-text__title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 32px;
  color: #242424;
  padding-bottom: 20px;
}
.review .review-text .review-text__subtitle {
  font-weight: 400;
  font-size: 20px;
  color: #383738;
  padding-bottom: 40px;
}
.review .review-text .review-block {
  display: flex;
}
.review .review-text .review-block img {
  max-height: 50px;
  align-self: center;
  padding-right: 10px;
}
.review .review-text .review-block .review-profile {
  position: relative;
}
.review .review-text .review-block .review-profile .review-profile__name {
  position: relative;
  top: 5px;
  font-weight: 500;
  padding-bottom: 10px;
}
.review .review-text .review-block .review-profile .review-profile__stars {
  position: relative;
  display: flex;
  align-items: center;
  bottom: 5px;
  font-weight: 500;
  font-size: 14px;
}

.grey {
  background-color: #F4F6F6;
}
.grey .subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 68px 0 55px 0;
  margin-bottom: 120px;
}
.grey .subscribe .subscribe-title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 32px;
  color: #222222;
  max-width: 605px;
  text-align: center;
  padding-bottom: 20px;
}
.grey .subscribe .subscribe-subtitle {
  font-weight: 400;
  color: #222222;
  max-width: 493px;
  text-align: center;
  padding-bottom: 40px;
}
.grey .subscribe .subscribe-input {
  align-items: center;
  position: relative;
}
.grey .subscribe .subscribe-input input {
  position: relative;
  width: 426px;
  height: 67px;
  padding-left: 45px;
  background: url("/img/email 1.png") no-repeat 17px 25px;
  color: #BABABA;
  background-color: #fff;
  font-weight: 400;
  line-height: 22px;
  border: none;
}
.grey .subscribe .subscribe-input button {
  position: absolute;
  background-color: #305F64;
  color: white;
  text-decoration: none;
  padding: 15px 32px;
  top: 10px;
  right: 15px;
  border: none;
  cursor: pointer;
}

.bg-green {
  background-color: #305F64;
}
.bg-green .footer {
  display: grid;
  grid-template-columns: 308px 116px 156px 253px;
  justify-content: space-between;
  padding: 90px 0 40px 0;
  color: #fff;
}
.bg-green .footer a {
  color: white;
  text-decoration: none;
}
.bg-green .footer .footer-block1 h2 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 24px;
  padding-bottom: 29px;
}
.bg-green .footer .footer-block1 p {
  font-weight: 400;
  font-size: 18px;
  padding-bottom: 50px;
}
.bg-green .footer .footer-block1 h3 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 20px;
}
.bg-green .footer .footer-block1 a {
  padding-right: 15px;
}
.bg-green .footer .footer-block2 h3 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 20px;
}
.bg-green .footer .footer-block2 a {
  font-weight: 400;
  font-size: 18px;
}
.bg-green .footer .footer-block2 p {
  padding-bottom: 16px;
}
.bg-green .footer .footer-block3 h3 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 24px;
}
.bg-green .footer .footer-block3 a {
  font-weight: 400;
  font-size: 18px;
}
.bg-green .footer .footer-block3 p {
  padding-bottom: 16px;
}
.bg-green .footer .footer-block4 {
  position: relative;
}
.bg-green .footer .footer-block4 h3 {
  position: relative;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 23.5px;
}
.bg-green .footer .footer-block4 a {
  position: relative;
  font-weight: 400;
  font-size: 18px;
}
.bg-green .footer .footer-block4 p {
  position: relative;
  padding-bottom: 40px;
}
.bg-green .footer .footer-block4 input {
  position: relative;
  width: 253px;
  height: 48px;
  padding-left: 22px;
  color: #859395;
  font-weight: 400;
}
.bg-green .footer .footer-block4 button {
  position: absolute;
  right: 12px;
  top: 139px;
  border: none;
  background: none;
}

.border {
  border-top: 1px solid #407980;
}
.border .footer-bottom {
  padding: 20px 0;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
}

@media (max-width: 1090px) {
  .intro-bg {
    display: flex;
    flex-direction: column;
  }
  .intro-bg .intro-bg__block {
    text-align: center;
    align-items: center;
    margin: 0 auto;
  }
  .intro-bg .intro-bg__block .intro-block__subtitle {
    margin: 0 auto;
  }
  .intro-bg .intro-bg__block .intro-block__btn {
    margin-bottom: 30px;
  }
  .brands .brands-companies {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    justify-content: space-evenly;
  }
  .brands .brands-companies img:nth-child(1) {
    padding-bottom: 60px;
  }
  .brands .brands-companies img:nth-child(2) {
    padding-bottom: 60px;
  }
  .brands .brands-companies img:nth-child(3) {
    padding-bottom: 60px;
  }
  .about {
    display: flex;
    flex-direction: column;
  }
  .about .about-block {
    align-self: center;
    text-align: center;
    max-width: 1200px;
  }
  .about .about-block .about-block__text {
    max-width: 560px;
    margin: 0 auto;
    padding-top: 20px;
  }
  .about .about-block .about-block__quality {
    display: flex;
    flex-direction: column;
  }
  .about .about-block .about-block__quality .about-quality__imgs {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding-top: 20px;
  }
  .about .about-block .about-block__quality .about-quality__imgs img:nth-child(1) {
    margin-right: 240px;
    margin-left: 30px;
  }
  .about .about-block .about-block__quality .about-quality__imgs img:nth-child(2) {
    margin-right: 230px;
  }
  .about .about-block .about-block__quality .about-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .catalog {
    display: grid;
    grid-template-columns: 380px;
    max-width: 380px;
    margin: auto;
  }
  .catalog .catalog-block1 {
    margin-bottom: 50px;
  }
  .catalog .catalog-block2 {
    margin-bottom: 50px;
  }
  .furniture-bottom {
    display: flex;
    flex-direction: column;
  }
  .furniture-bottom .furniture-img {
    padding-bottom: 40px;
  }
  .furniture-bottom .furniture-selects {
    margin: auto;
  }
  .review {
    display: flex;
    flex-direction: column;
  }
  .review .review-text {
    margin: auto;
    text-align: center;
  }
  .review .review-text .review-block {
    margin: auto;
  }
}
@media (max-width: 850px) {
  .about {
    display: flex;
  }
  .about .about-block__quality {
    display: grid !important;
    grid-template-columns: 1fr 2fr;
  }
  .about .about-block__quality .about-quality__imgs {
    display: flex;
    margin-left: 0px !important;
    flex-direction: column !important;
  }
  .about .about-block__quality .about-quality__imgs img {
    margin: 0 !important;
    width: 50px;
  }
  .about .about-block__quality .about-list {
    display: flex;
    align-items: center;
    flex-direction: column !important;
  }
  .footer {
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
  }
  .footer .footer-block1 {
    padding: 0 0 40px 40px;
  }
  .footer .footer-block2 {
    margin: 0 auto;
  }
  .footer .footer-block3 {
    padding-left: 40px;
  }
  .footer .footer-block4 {
    margin: 0 auto;
  }
  .footer .footer-block4 button {
    left: 30% !important;
    top: 118px !important;
  }
}
@media (max-width: 700px) {
  .main-navbar .main-navbar__links a {
    display: none;
  }
  .main-navbar .main-navbar__links button {
    display: block;
    width: 50px;
    height: 30px;
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
  }
  .furniture-title {
    padding-bottom: 20px;
  }
  .furniture-subtitle {
    display: flex;
    flex-direction: column !important;
  }
  .furniture-subtitle div {
    margin: 0 !important;
    padding-bottom: 20px;
  }
}
@media (max-width: 600px) {
  .footer {
    display: flex !important;
    flex-direction: column;
  }
  .footer .footer-block2 {
    margin: 0;
    padding: 0 0 40px 40px;
  }
  .footer .footer-block3 {
    padding-bottom: 40px;
  }
  .footer .footer-block4 button {
    left: 150px !important;
  }
}
@media (max-width: 505px) {
  .brands-companies {
    display: flex !important;
    flex-direction: column;
  }
  .brands-companies img {
    padding-bottom: 20px !important;
  }
  .furniture-selects {
    display: flex !important;
    flex-direction: column;
  }
  .furniture-selects .furniture-kitchen {
    padding: 0 18px;
  }
  .furniture-selects .furniture-office {
    padding: 0 25px;
  }
  .furniture-selects .furniture-bedroom {
    padding: 0 10px;
    margin-bottom: 20px;
  }
  .furniture-selects .furniture-hallway {
    padding: 0 20px;
  }
}
@media (max-width: 430px) {
  .catalog-block1 {
    max-width: 375px;
  }
  .catalog-block2 {
    max-width: 375px;
  }
  .catalog-block3 {
    max-width: 375px;
  }
  .bb {
    max-width: 375px;
  }
  .subscribe-input input {
    width: 375px !important;
  }
}